<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Saved on Thu Dec 11 22:41:06 CET 2014</comment>
<entry key="directory">E:\Documents\teamspeak3-server_win64-3.0.10.3</entry>
<entry key="extension-">replacement-</entry>
<entry key="directoryRecursive">true</entry>
</properties>
